<div class="row">
	<div class="col-6">
		<div class="input-group">
			<div class="categories">
				<select (change)="breedDogChanged($event.target.value)" class="breed input-group-text custom-select" name="breed">
					<option value="">Select category</option>
					<option *ngFor="let breed of breeds" value="{{breed}}">{{breed}}</option>
				</select>
			</div>
		</div>
		<img src="{{breedDog?.message}}">
	</div>
	<div class="col-6">
		<!-- <h2>{{breedDog}}</h2> -->
		<img src="{{doggyImage?.message}}">
		<!-- 			<p>{{catJoke?.value}}</p> -->
	</div>
</div>
<!-- 	<div class="col">
		<div class="input-group">
			<div class="categories">
				<div class="search">
					<input type="text" (input)="searchJoke($event.target.value)" class="input-group-text" name="search" value="">
					<p *ngFor="let juokelis of jokes">{{juokelis.value}}</p>
				</div>
			</div>
		</div>
	</div> -->
